/* Sidebar container */
.sidebar {
	width: 60px;
	height: 100vh;
	background-color: var(--background-menu);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2rem 0;
	transition: width 0.5s ease-in-out;
	/* 	
	padding-top: 1rem; */
}

.sidebar.expanded {
	width: 220px; /* Slightly wider for a more spacious expanded state */
}

.sidebar.collapsed {
	width: 60px;
}

/* Logo */
.logo {
	color: var(--primary);
	font-size: 2rem;
	padding: 0.8rem;
	margin: 1rem;
	margin-bottom: 2rem;
}

/* Individual menu items */
.menuItem {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-gray);
	background-color: var(--white);
	padding: 0.8rem;
	margin: 1rem;
	font-size: 1rem;
	font-weight: 500;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.5s ease-in-out, padding-left 0.5s ease-in-out;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow effect */
}

.menuItem:hover {
	background-color: var(--primary-color); /* Greenish-blue */
}

.menuItem:hover .menuText {
	padding-left: 10px;
}

/* Menu text for expanded state */
.menuText {
	margin-left: 1rem;
	transition: opacity 1s ease-in-out; /* Smoother opacity transition */
	opacity: 1;
}

/* Icons */
.menuItem svg {
	margin-right: 1rem;
}
