.sidebar {
	width: 60px;
	height: 100vh;
	background-color: var(--menu);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2rem 1rem;
	transition: width 0.5s ease;
}

.expanded {
	width: 220px;
}

.collapsed {
	width: 60px;
}

.menuHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0.8rem 1rem;
	margin-bottom: 1.5rem;
}

.logo {
	color: #d97706; /* Amber */
	font-size: 2rem;
	font-family: "Inter", sans-serif;
	font-weight: 700;
}

.itemContainer {
	display: flex;
	align-items: center;
	margin: 1rem 0;
	cursor: pointer;
}

.itemName:hover {
	font-weight: 500;
}

.itemIcon {
	transition: none; /* Prevent icon transitions */
	padding: 1rem;
	color: var(--gray);
	border-radius: 8px;
	background-color: var(--background);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.itemNameWrapper {
	overflow: hidden;
	width: 0; /* Collapsed state */
	transition: width 0.5s ease; /* Smooth text expansion */
}

.expanded .itemNameWrapper {
	width: 150px; /* Adjust based on your design */
}

.itemName {
	white-space: nowrap; /* Prevent text wrapping */
	font-size: 1.4rem;
	margin-left: 1.4rem;
	font-weight: 200;
}
