@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* Global Styles */
:root {
	--text: #0e150e;
	--background: #fbfdfb;
	--primary: #62af5f;
	--secondary: #9fd59d;
	--accent: #7bce78;

	--background-secondary: #eef6f7;
	--text-gray: rgb(135, 135, 135);
	--white: #ffffff;
	--border-radius: 8px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Inter", sans-serif;
	background-color: var(--background);
	color: var(--text-color);
	font-weight: 400;
	line-height: 1.5;
	min-height: 100vh;
	/* border & padding accounted for in element's width/height */
	box-sizing: border-box;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(---text);
}

button {
	background-color: var(--primary);
	border: none;
	padding: 10px 20px;
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: background 0.3s;
}

button:hover {
	background-color: var(--secondary);
}

/* Responsive Design */

@media (max-width: 1440px) {
	.container {
		width: 85%;
	}
}

@media (max-width: 1024px) {
	.container {
		width: 80%;
	}
}

@media (max-width: 768px) {
	body {
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.container {
		width: 95%;
	}
	button {
		padding: 8px 16px;
	}
}

@media (max-width: 360px) {
	body {
		font-size: 12px;
	}
}
